<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="ExceptionReporter">
      <section name="Contact" type="System.Configuration.NameValueSectionHandler"/>
      <section name="TabsToShow" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Email" type="System.Configuration.NameValueSectionHandler"/>
      <section name="LabelMessages" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <ExceptionReporter>
    <Contact>
      <add key="email" value="support@pptremotecontrol.com"/>
      <add key="web" value="www.pptremotecontrol.com"/>
      <add key="phone" value=""/>
      <add key="fax" value=""/>
    </Contact>
    <TabsToShow>
      <add key="exceptions" value="true"/>
      <add key="assemblies" value="true"/>
      <add key="config" value="true"/>
      <add key="system" value="true"/>
      <add key="contact" value="true"/>
    </TabsToShow>
    <Email>
      <add key="method" value="MAPI"/>
      <add key="SmtpServer" value="smtpserver.server.au"/>
      <add key="SmtpUsername" value="bob"/>
      <add key="SmtpPassword" value="password"/>
      <add key="from" value="support@pptremotecontrol.com"/>
      <add key="to" value="support@pptremotecontrol.com"/>
    </Email>
    <LabelMessages>
      <add key="general" value="An exception has occured"/>
      <add key="explanation" value="Please explain what happened. Please send to support@pptremotecontrol.com"/>
      <add key="ContactTop" value="The numbers below may be used to contact support"/>
      <add key="ContactBottom" value="Some bottom message"/>
    </LabelMessages>
  </ExceptionReporter>



</configuration>